.cart-content{
    height: 615px;
    .cart-image {
        position: relative;
        max-width: 350px;
        max-height: 50%;
        height: 50%;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}
