@import "./variables";

.outsorce-info {
    padding: $general-padding;
    display: flex;
    height: 1000px;
    position: relative;
    background-color: white;
    color: $secondary;
    justify-content: space-between;
    .outsorce-image {
        height: 100%;
        width: 100%;
        position: relative;
        // overflow: hidden;
        img{
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }
    .outsorce-data {
        color: $backBlack;
        justify-content: end;
        text-align: center;
        border-style: solid solid none solid;
        border-width: 3px;
        border-color: $secondary;
        border-radius: 20px 20px 0 0;

        h3 {
            font-size: 4rem;
            color: $secondary;
        }

        li {
            font-size: 1.3rem;
        }
        // add image for bullet point here
    }
}
