$gradient1: #000000;
$gradient2: #133642;
$gradient3: #39A6A8;
$primary: #4BDBD8;
$secondary: #136D7B;
$transparent: rgba(0,0,0,0);
$general-padding: 14rem 0 0 4rem;
$backBlack: #000000;
$backgreen: #133642;
$backAqua: #136D7B;