@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./variables";
@import "./hero";
@import "./globals";

body {
  background: linear-gradient(to right, $gradient1, $gradient2, $gradient3);
  min-height: 100vh;
  color: red;
  h3 {
    font-size: 1.5rem;
  }
}

@import "./header";

@import "./footer";